<div class="outter-wrapper">
    <h1 class="title">
    {{ title }}
    </h1>
    <div class="list-wrapper">
        <ng-container *ngIf="$isLoading | async">
            <mat-spinner></mat-spinner>
        </ng-container>
        <ng-container *ngIf="!($isLoading | async)">
            <div *ngFor="let textItem of $todoList | async">
                <div class="item-wrapper">
                    <text-item
                        [labelId]="'todo-item-' + textItem.id"
                        [isChecked]="textItem.isDone"
                        (labelChanged)="onEdit($event, textItem)"
                        (toggleChange)="onEdit($event, textItem)"
                    >
                        <span [id]="'todo-item-' + textItem.id" [class.todoDone]="textItem.isDone">{{ textItem.label }}</span>
                    </text-item>
                    <button
                        mat-icon-button
                        color="warn"
                        [attr.aria-label]="textItem.label + ' removal'"
                        (click)="onRemove(textItem.id)"
                    >
                        <mat-icon>remove</mat-icon>
                    </button>
                </div>
            </div>
            <div>
                <mat-form-field>
                    <mat-label id="new-todo-label">New Todo</mat-label>
                    <input
                        matInput
                        type="text"
                        aria-labelledby="new-todo-label"
                        [(ngModel)]="form.label"
                    >
                </mat-form-field>
                <button
                    mat-icon-button
                    color="primary"
                    aria-label="Confirm creation of todo"
                    (click)="onCreation ()"
                >
                    <mat-icon>check</mat-icon>
                </button>
            </div>
        </ng-container>
    </div>
</div>