<div
    *ngFor="let textItem of textList"
>
    <mat-card class="textItem">
        <mat-card-content>
            <text-item
                [label]="textItem.label"
                [isChecked]="textItem.isChecked"
            >
            </text-item>
            <button
                mat-icon-button
                color="warn"
                [attr.aria-label]="textItem.label + ' removal'"
                (click)="removeItem(textItem)"
            >
                <mat-icon>remove</mat-icon>
            </button>
        </mat-card-content>
    </mat-card>
</div>