<ng-container>
    <ng-container
        *ngIf="!isLabelBeenEdited"
    >
        <div class="checkbox-wrapper">
            <mat-checkbox
                color="primary"
                [checked]="isChecked"
                (change)="toggleChangeEvent($event)"
            >
                <ng-content></ng-content>
            </mat-checkbox>
            <button
                class="edit-icon"
                mat-icon-button
                color="primary"
                [attr.aria-label]="'Edit label'"
                (click)="enableEditing()"
            >
                <mat-icon>edit</mat-icon>
                </button>
        </div>
    </ng-container>
    <ng-container
        *ngIf="isLabelBeenEdited"
    >
        <mat-form-field>
            <mat-label id="new-label-label">New description</mat-label>
            <input
                matInput
                type="text"
                aria-labelledby="new-label-label"
                [(ngModel)]="form.newLabel"
                placeholder='New "todo" description'
            >
        </mat-form-field>
        <button
            mat-icon-button
            color="warn"
            aria-label="Cancel editing"
            (click)="disableEditing ()"
        >
            <mat-icon>cancel</mat-icon>
        </button>
        <button
            mat-icon-button
            color="primary"
            aria-label="Confirm change"
            (click)="confirmEditing ()"
        >
            <mat-icon>check</mat-icon>
        </button>
    </ng-container>
</ng-container>